[Unit]
Description=Nissan Leaf Pycarwings2 API to MQTT
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/leaf-python-mqtt/leaf-python-mqtt.py

[Install]
WantedBy=multi-user.target
